:root {
    --white: #FCFCFC;
    --black: #262626;
    --yellow:#C8CB02;
    --black-darker:#100F0F;
    --anchor-unactive:#595959;
    --yellow-opacity-low:#3D3E13;
    --black-opacity-low:#47470a;
    --black-darker-lower:#121111;
    --black-darker-even-lower:#242424;
  }